* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

:root {
  --blue: #0062A5;
  --gold: #F9B70F;
  --gray: #333;
  --med-light-gray: #444;
  --light-gray: #555;
  --indigo: #333366;

  --dialog-max-width: 800px;
}

canvas {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  touch-action: none;
}

html {
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: clamp(62.5%, 2vmin + 0.125rem, 100%);

  /* Loading spinner */
  &::before {
    content: '\1F300\FE0E' / '';
    color: transparent;
    text-shadow: 0 0 0 var(--gold);
    position: absolute;
    width: 200px;
    line-height: 200px;
    font-size: 200px;
    animation: spin 0.5s linear infinite;
    transform-origin: center 52.5%;
  }

  @media (prefers-reduced-motion: reduce) {
    &::before {
      animation: none;
      display: none;
    }
  }
}

body.loading, body.loading dialog, #canvasContainer.loading {
  transition: none;
  opacity: 0;
  pointer-events: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

body {
  transition: opacity 1s;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  color: white;

  /* Note that negative margin offscreen doesn't work well with
  relatively positioned immediate children, and screen reader focus
  of cutoff elements causes scrolling even with overflow hidden. */
}

.warning {
  color: var(--gold);
}

.sidebar-group {
  display: flex;
  flex-direction: column;
}

#puzzleGames, #controls, #settings {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 16px 0 rgba(0 0 0 / 0.5), 0 0 4px 0 rgba(0 0 0 / 0.3);
}

/* Added specificity */
.puzzleLinks.sidebar {
  --cutout-size: 0.45em;
  --cutout-position: 0;
  --cutout-rotation: -45deg;

  /* Needs to be opaque so that it isn't affected by the hover highlight */
  --border-color: #2a2a2a;

  @media (orientation: landscape) {
    button:first-child {
      border-top-color: transparent;

      &::before {
        display: none;
      }
    }

    button:last-child {
      border-bottom-color: transparent;

      &::after {
        display: none;
      }
    }

    &.submenu-secondary button {
      border-left-color: transparent;

      &:nth-child(odd) {
        &::before {
          display: none;
        }
      }
    }

    &.submenu-primary button {
      border-right-color: transparent;

      &:nth-child(even) {
        &::after {
          display: none;
        }
      }
    }
  }

  @media (orientation: portrait) {
    button:first-child {
      border-left-color: transparent;

      &::before {
        display: none;
      }
    }

    button:last-child {
      border-right-color: transparent;

      &::after {
        display: none;
      }
    }

    &.submenu-secondary button {
      border-bottom-color: transparent;

      &:nth-child(even) {
        &::after {
          display: none;
        }
      }
    }

    &.submenu-primary button {
      border-top-color: transparent;

      &:nth-child(odd) {
        &::before {
          display: none;
        }
      }
    }
  }

  button {
    /* Allow jigsaw piece circles to stick out */
    overflow: visible;
    border: 1px solid var(--border-color);

    &::before, &::after {
      content: '';
      background: inherit;
      width: var(--cutout-size);
      height: var(--cutout-size);
      border-radius: 100vh;
      position: absolute;
      align-self: center;
      z-index: 1;
      border: 2px solid transparent;
    }

    @media (prefers-contrast: more) {
      border: none;

      &::before, &::after {
        border: none;
        display: none;
      }
    }

    > span {
      /* Ensure the puzzle icon always shows above any jigsaw piece circles */
      z-index: 5;

      /* Shrink them a bit anyway to reduce clutter */
      font-size: 0.75em;
    }
  }

  /* Create a jigsaw pattern */
  &.submenu-primary button:nth-child(even),
  &.submenu-secondary button:nth-child(odd) {
    background: inherit;

    &::before {
      left: var(--cutout-position);
      transform: translateX(-50%) rotate(var(--cutout-rotation));
      border-left-color: var(--border-color);
      border-top-color: var(--border-color);
    }

    &::after {
      right: var(--cutout-position);
      transform: translateX(50%) rotate(var(--cutout-rotation));
      border-right-color: var(--border-color);
      border-bottom-color: var(--border-color);
    }
  }

  &.submenu-primary button:nth-child(odd),
  &.submenu-secondary button:nth-child(even) {
    background: inherit;

    &::before {
      top: var(--cutout-position);
      transform: translateY(-50%) rotate(var(--cutout-rotation));
      border-top-color: var(--border-color);
      border-right-color: var(--border-color);
    }

    &::after {
      bottom: var(--cutout-position);
      transform: translateY(50%) rotate(var(--cutout-rotation));
      border-bottom-color: var(--border-color);
      border-left-color: var(--border-color);
    }
  }
}

#canvasContainer {
  transition: opacity 1s;
  background-color: black; /* For browsers that do not support gradients */
  background-image: repeating-linear-gradient(45deg,
      var(--indigo), var(--indigo) 6px, black 6px, black 12px);
  flex: 1 1 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &.home {
    background: var(--indigo);
  }
}

canvas#puzzleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  margin: auto;

  @media (orientation: portrait) {
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    max-width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
  }

  @media (orientation: landscape) {
    top: env(safe-area-inset-top);
    bottom: env(safe-area-inset-bottom);
    max-height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  }
}

#controls {
  &:not(.daily-challenge) {
    #nextDailyChallengePuzzleButton, #dailyChallengeControlsTimerWrapper {
      display: none;
    }
  }

  &.daily-challenge {
    #tutorialButton, #generateNewPuzzleButton, #sharePuzzleButton {
      display: none;
    }
  }

  &.solved {
    #generateNewPuzzleButton, #nextTutorialPuzzleButton, #nextDailyChallengePuzzleButton {
      /* Prevent the scaling from affecting the focus outline */
      overflow: hidden;

      > span {
        transform: scale(1);
        animation: scaleFlare 2s ease-in-out infinite forwards;
        color: var(--gold);

        @media (prefers-reduced-motion: reduce) {
          animation-iteration-count: 1.5;
        }
      }
    }

    #generateNewPuzzleButton > span {
      /* Be less insistent for just generating a new puzzle */
      animation-iteration-count: 1.5;
    }
  }
}

#tutorialButton.recommended:not(.active) {
  /* Prevent the scaling from affecting the focus outline */
  overflow: hidden;

  > span {
    transform: scale(1);
    animation: scaleFlare 2s ease-in-out infinite;
    color: var(--gold);

    @media (prefers-reduced-motion: reduce) {
      animation-iteration-count: 1.5;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes scaleFlare {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

#difficulty-group {
  flex: 4;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  label {
    position: relative;
  }

  input[type="radio"] {
    /* Easy CSS reset that even gets rid of the background color change
    in Safari left over by appearance: none */
    all: unset;
    outline: revert;

    position: absolute;
    inset: 0.5rem;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
  }
}

button {
  all: unset;
  outline: revert;
  box-sizing: inherit;
}

button, .sidebar label, a:has(img) {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
  text-decoration: none;
}

button, .sidebar label {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: stretch;

  &:not(:disabled):not(:has(input:disabled)):not(.selected):not(:checked
      ):not(#difficulty-group.daily-challenge &) {
    cursor: pointer;
  }

  > span {
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &:not(:focus-visible) {
    outline: none;
  }
}

button:disabled {
  cursor: default;
}

#homeSubmenu {
  button, label {
    > span {
      padding: 10px 0;

      @media (orientation: landscape) {
        padding: 0 10px;
      }
    }
  }
}

.sidebar {
  background: var(--gray);
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  #portfolio-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex: 1;
  }

  #dailyChallengeControlsTimerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;

    #dailyChallengeTimer {
      padding: 10px;
    }
  }

  #dailyChallengeButton {
    flex: 3;

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      gap: 5%;

      @media (orientation: landscape) {
        flex-direction: column;
      }

      #dailyChallengeIcon {
        /* Emoji has extra space around it compared to small countdown text  */
        margin: -0.13em;
      }
    }
  }

  .dailyChallengeCountdownWrapper {
    flex-shrink: 1;
    position: relative;
    font-size: min(1.5rem, 24px);
    white-space-collapse: preserve-breaks;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;

    .small-text {
      /* Apply line height according to its font size, not the parent's */
      display: inline flow-root;
      font-size: min(1rem, 16px);
    }

    .timer {
      font-family: monospace, system-ui, sans-serif;
    }

    @media (orientation: portrait) {
      height: 100%;
    }

    @media (orientation: landscape) {
      width: 100%;
    }

    > span {
      max-width: 100%;

      @media (orientation: landscape) {
        /* Don't count the contents towards the parent's
        calculated content width - hallelujah! */
        contain: inline-size;
        width: 100%;
      }
    }
  }

  button, label, a {
    font-size: 60px;
  }

  button, label {
    color: #ffffff;
    flex: 1;
    outline-offset: -0.5rem;
    position: relative;
    overflow: hidden;

    &:not(:disabled):not(:has(input:disabled)):not(.selected):not(:checked
        ):not(#difficulty-group.daily-challenge &):not(.active) {
      @media (hover: hover) and (pointer: fine) {
        &:hover:not(:active) {
          background-color: var(--light-gray);
        }
      }

      &:active {
        background-color: var(--med-light-gray);
      }

      &.shine::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -300%;
        width: 100%;
        height: 100%;
        animation: gleam 8s infinite linear;
        background: linear-gradient(to right, rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.05) 80%, rgba(255, 255, 255, 0));
        transform: skewX(-25deg);

        @media (prefers-reduced-motion: reduce) {
          display: none;
          animation: none;
        }
      }
    }

    > span {
      padding: 20px 0;
      line-height: 1.35;
    }

    &.smaller > span {
      font-size: 80%;
    }

    &.larger > span {
      font-size: 120%;
      line-height: 1;
    }

    &.much-larger {
      overflow: hidden;

      > span {
        /* Use scale rather than font-size to avoid expanding the sidebar size */
        transform: scale(1.4);
        line-height: 1;
      }
    }

    &.selected {
      padding: 10px 0;

      > span {
        padding: 0;
        border-radius: 15px;
        box-shadow: inset 0 0 2px 3px white;
        margin: auto;

        @media (orientation: landscape) {
          height: calc(100% - 1rem);
        }

        @media (orientation: portrait) {
          width: calc(100% - 1rem);
        }

        @media (prefers-contrast: more) {
          border: 2px solid white;
        }
      }
    }
  }
}

@keyframes gleam {
  40% {
    left: 300%;
  }
  100% {
    left: 300%;
  }
}

@media (prefers-contrast: more) {
  #controls button {
    margin: 2px;
  }
}

#tutorialButton.active, #solutionButton.active {
  background-color: var(--gold);
  color: var(--gray);

  @media (prefers-contrast: more) {
    margin: 0;
    border: 2px solid white;
  }
}

#instructionsButton.active {
  background-color: var(--blue);

  @media (prefers-contrast: more) {
    margin: 0;
    border: 2px solid white;
  }
}

#settings {
  button, label {
    &.faded > span {
      opacity: 0.5;
    }

    &.selected > span {
      opacity: 1;
    }
  }

  span.faded {
    opacity: 0.5;
  }
}

#muteButton:not(.muted) #noSoundIcon {
  display: none;
}

#muteButton.muted #soundIcon {
  display: none;
}

#fullScreenButton:not(.fullScreen) #fullScreenOffIcon {
  display: none;
}

#fullScreenButton.fullScreen #fullScreenOnIcon {
  display: none;
}

.reverse {
  transform: scale(-1, 1);
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

@media (orientation: portrait) {
  /* Use viewport-fit=cover and safe-area-insets for the sidebars so that
  the gutters match the sidebar backgrounds rather than the body background */
  #settings .submenu-primary {
    button, label {
      padding-top: env(safe-area-inset-top);

      &.selected {
        padding-top: calc(10px + env(safe-area-inset-top));
      }
    }
  }
  #puzzleGames .submenu-secondary, #controls {
    button, label, #dailyChallengeControlsTimerWrapper {
      padding-bottom: env(safe-area-inset-bottom);
    }
  }
}

@media (orientation: landscape) {
  #puzzleGames .submenu-secondary, #controls {
    button, label, #dailyChallengeControlsTimerWrapper {
      padding-left: env(safe-area-inset-left);
    }
  }
  #settings .submenu-primary {
    button, label {
      padding-right: env(safe-area-inset-right);

      &.selected {
        padding-right: calc(10px + env(safe-area-inset-right));
      }
    }
  }

  body, .sidebar-group {
    flex-direction: row;
  }

  .sidebar {
    flex-direction: column;

    button, label {
      &.selected {
        padding: 0 10px;
      }

      > span {
        padding: 0 20px;
      }
    }

    #portfolio-link-wrapper {
      padding: 0 10px;
    }
  }

  #difficulty-group {
    flex-direction: column;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .sidebar {
    button, label, a {
      font-size: 10vw;
    }
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .sidebar {
    button, label, a {
      font-size: 10vh;
    }
  }
}

dialog {
  margin: auto;
  position: fixed;
  padding: 0;
  inset: 0;
  z-index: 50;
  border: none;
  background: transparent;
  color: inherit;
  text-align: center;
  font-size: 1.5rem;

  /* Allow animated scale transitions to grow into the margins and not trigger scroll bars */
  overflow: visible;

  /* The modal-backdrop doesn't span the screen on iOS if the dialog doesn't */
  width: 100%;
  height: 100%;

  &::backdrop {
    background: transparent;
    backdrop-filter: blur(1px);
  }

  &.loading {
    pointer-events: none;

    .modal-foreground {
      transition: none;
      transform: scale(0.5);
      opacity: 0;
    }
  }

  &.no-close-button {
    button.close-button {
      display: none;
    }

    .modal-foreground .modal-content h1 {
      margin: 0;
    }
  }

  &.hug {
    .modal-foreground {
      min-width: auto;
    }
  }

  .dialog-inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* This is needed when using viewport-fit=cover in the meta tag */
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
        env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  /* The main purpose of this custom backdrop implementation is to be able to
  give it a click handler to close on click.  Apparently, setting closedby="any"
  on the dialog tag is for supporting exactly this behavior, but it's not fully
  supported yet (in Safari) */
  .modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
  }

  .modal-foreground {
    transition: transform 0.19s, opacity 0.19s;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: auto;
    max-width: min(100%, var(--dialog-max-width));
    max-height: 100%;
    /* max-height: max-content; - Doesn't work in Firefox */
    min-width: max(200px, min(50%, var(--dialog-max-width)));
    /* min-height: max(200px, 50%); */
    overflow: auto;

    .modal-content {
      background-color: var(--gray);
      border: 2px solid var(--gray);
      border-radius: inherit;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
      padding: 16px;
      line-height: 1.5;

      .scroll-container {
        width: calc(100% + 16px);
        flex: 1;
        overflow: auto;
        margin-right: -16px;
        padding-right: 16px;
      }

      h1 {
        /* Ensure space for close button */
        margin: 0 56px;
        font-weight: bold;
        font-size: 2.75rem;
      }

      h2 {
        font-weight: 500;
        font-size: 1.75rem;
      }

      h3, dt {
        font-weight: bold;
        font-size: 1.25rem;
      }

      dl, dd {
        margin: 0;
      }

      p, h2, h3, dt {
        margin-block: 16px 0;
      }

      a {
        &, &:active, &:visited {
          color: var(--gold);
        }
      }

      summary {
        cursor: pointer;
        padding: 16px;
        outline-offset: -2px;

        > h2 {
          display: inline flow-root;
          margin: 0;
        }

        &:not(:disabled) {
          @media (hover: hover) and (pointer: fine) {
            &:hover:not(:active) {
              background-color: var(--light-gray);
            }
          }

          &:active {
            background-color: var(--med-light-gray);
          }
        }
      }
    }
  }

  hr {
    margin-block: 16px;
    color: var(--light-gray);
    border-style: solid;
    width: 100%;
  }

  &#puzzleSharingDialog, &#dailyChallengeDialog, &#statsDialog {
    hr {
      &:first-of-type {
        margin-block: 24px 0;
      }

      &:last-of-type {
        margin-block: 0 16px;
      }
    }
  }

  section {
    width: 100%;
  }

  ol, ul {
    /* Use this to center the lists as a whole, but have to be careful,
    as other inline elements could wind up on the same line */
    display: inline flow-root;
    text-align: left;
    font-size: 1.25rem;
    padding-inline-start: 3ch;
    margin-block: 16px;

    li:not(:first-of-type) {
      margin-top: 8px;
    }
  }

  li {
    > ul, > ol {
      margin-block: 8px 0;
    }
  }

  .smaller-text {
    font-size: 1.25rem;
  }

  .link-text {
    font-size: 1rem;
    word-break: break-word;

    /* inline display has large, unexplained gap between wrapped lines */
    display: inline flow-root;
  }

  input {
    /* Prevent iOS from zooming in due to font being below 16px */
    font-size: max(1.5rem, 16px);
    font-family: inherit;
    padding: 2px 8px;
    line-height: inherit;
    border: 1px solid rgba(255 255 255 / 0.5);
    border-radius: 4px;

    &[type=checkbox] {
      transform: scale(1.5);
      margin-right: 4px;
    }
  }

  button {
    background: transparent linear-gradient(to top, rgba(255 255 255 / 0.25), rgba(255 255 255 / 0) 50%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 2px 12px;
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    font-size: max(1.5rem, 16px);

    &.bottom-button {
      margin-bottom: 8px;
    }

    &.golden {
      color: var(--gold);
      border-color: currentColor;
    }

    &.spaced-out {
      margin-inline: 4px;
    }

    &:not(:disabled) {
      @media (hover: hover) and (pointer: fine) {
        &:hover:not(:active) {
          background-color: var(--light-gray);
        }
      }

      &:active {
        background-color: var(--med-light-gray);
      }
    }
  }

  .close-button {
    line-height: 1;
    font-size: 14px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: sans-serif;

    > span {
      /* A flex display give it a background inverted along with
      the foreground in high-contrast mode */
      display: inline flow-root;
      width: auto;
      height: auto;

      &::before {
        content: '❌' / '';
        /* Make the emoji always appear white */
        filter: brightness(0) invert(1);

        /* @media (prefers-contrast: more) {
          filter: brightness(0) invert(1);
        } */
      }
    }
  }
}

svg.share-icon {
  height: 0.9em;
  margin-top: 0.1em;
  margin-right: 10px;
}

#dailyChallengeDialog {
  #dailyChallengeDialogPuzzles {
    font-size: 3rem;

    .puzzle-icon {
      position: relative;
    }
  }

  &:not(.just-completed) {
    .puzzle-icon {
      &.completed {
        &::after {
          content: '✅';
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translate(40%, 10%);
          font-size: 0.5em;
          text-shadow: 0 0 2px black;
        }
      }
    }
  }

  #dailyChallengeDialogControls {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: baseline;
  }

  #replayDailyChallengeNote {
    margin-top: 8px;
  }

  &.completed {
    #showDailyChallengeTimerLabel, #dailyChallengeRecommendation {
      display: none;
    }

    &.just-completed {
      #dailyChallengeCompletedMessage, #dailyChallengeExplanation,
      #dailyChallengeAdditionalDetails, #dailyChallengeDialogControls,
      #replayDailyChallengeNote, hr {
        display: none;
      }

      #dailyChallengeCompletedContent {
        padding-bottom: 8px;
      }

      .modal-foreground {
        /* Bounce transition */
        transition: transform 0.99s cubic-bezier(0.41, 2.74, 0.37, 0.49), opacity 0.49s;
        min-width: auto;
      }
    }

    &:not(.just-completed) {
      #dailyChallengeJustCompletedMessage {
        display: none;
      }
    }
  }

  &:not(.completed) {
    #replayDailyChallengeNote, #dailyChallengeCompletedContent {
      display: none;
    }
  }
}

#statsDialog {
  .modal-foreground {
    /* Keep a stable width for when the details section is expanded */
    width: 100%;
  }

  .puzzle-icon {
    font-size: 1.25em;

    &.ranked {
      &.rank-1 {
        font-size: 2em;
      }

      &.rank-3 {
        font-size: 1em;
      }
    }

    &.faded {
      opacity: 0.2;
      color: transparent;
      text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    }
  }

  .statsGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 32px;
    padding-inline: 8px;

    .full-row {
      /* span the full grid row */
      grid-column: 1 / -1;
    }

    .double-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #statTutorialsCompletedValue {
      font-size: inherit;
      display: grid;
      grid-template-columns: repeat(6, auto);
      justify-content: center;
      gap: 0 8px;

      /* Match to --dialog-max-width */
      @media (width >= 800px) {
        grid-template-columns: repeat(12, auto);
      }

      &, li {
        margin: 0;
        padding: 0;
      }

      li {
        list-style: none;
      }
    }
  }

  #dailyChallengeArchiveList {
    font-size: inherit;
    padding: 0;
    /* Display up to 3 columns, reducing each time an element would go below the min width */
    display: grid;
    /* Non-fixed values like max-content aren't supported with auto-fill, unfortunately */
    grid-template-columns: repeat(auto-fill, minmax(max(12.5rem, 25%), 1fr));
    gap: 16px;
    /* Leave space for box-shadows */
    padding-inline: 4px;

    li {
      flex: 1 0 auto;
      min-width: 25%;
      list-style: none;
      margin: 0;
    }

    .past-daily-challenge {
      padding: 6px 8px 8px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 14px;
      border: 2px solid rgba(255, 255, 255, 0.5);

      &.completed {
        box-shadow: 0 0 4px 0 var(--gold);

        .time {
          color: inherit;
        }
      }

      &.missed {
        border-style: dotted;

        .time {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      h3, p {
        margin-top: 0;
      }

      .time {
        flex-grow: 1;
        color: rgba(255, 255, 255, 0.75);
      }

      button {
        margin-top: 16px;
        align-self: stretch;
      }
    }
  }

  #callToAction {
    /* counteracting margin-collapse */
    padding-top: 1px;
  }
}

#confirmationDialog {
  .modal-content {
    border-color: color-mix(in srgb, var(--gold) 25%, transparent);
  }

  h1 {
    /* Wrap the header text while keeping the warning icons in place */
    display: flex;
    gap: 8px;

    &::before {
      content: '⚠️ ' / '';
    }

    &::after {
      content: ' ⚠️' / '';
    }
  }

  .scroll-container:has(p:empty) {
    display: none;
  }
}

#portfolio-link {
  color: var(--gold);
  background: var(--gray);
  padding: 3px;
  border: 1px solid color-mix(in srgb, var(--gold) 50%, transparent);
  box-shadow: 0 0 4px 0 var(--gold);
  border-radius: 99999px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: black;

      &:not(:active) {
        box-shadow: 0 0 6px 2px var(--gold);
      }
    }
  }

  &:active {
    box-shadow: 0 0 10px 4px var(--gold);
  }

  /* On my iPhone Safari browser, the viewport is 390px x 663px,
  and the canvas container height in Safari is about 385px */

  > img {
    height: 1em;
    border-radius: 99999px;
    pointer-events: none;
  }
}
